<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Predict">
    </form>
    <div id="content">{% block content %}{% endblock %}</div>
</body>
</html>
